{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='company' %}">Company</a>
&rsaquo; Create companies
</div>
{% endblock %}

{% block content %}
<div id="content-main">
	<h2>Companies created</h2>
	<p>Ask the companies to use the below URLs to enrol:</p>
	<ul>
		{% for company in created_companies %}
			<li>{{ company.name }}, {{ company.email_address }}, {{ company.url }}</li>
		{% endfor %}
	</ul>

	<h2>Companies skipped</h2>
	<p>These companies are already enrolled. Ask them to publish to ISD:</p>
	<ul>
		{% for company in skipped_companies %}
			<li>{{ company.name }}, {{ company.email_address }}</li>
		{% endfor %}
	</ul>

	<div>
		<a href="{% url 'admin:company_company_changelist' %}">Continue</a>
	</div>
</div>
{% endblock %}
