[run]
omit =
    */admin.py
    manage.py
    */migrations/*
    */tests/*
    .venv/*
    venv/*
    conftest.py
    conf/wsgi.py
    conf/settings.py
    conf/celery.py
    core/signals.py
    company/temp_api_views.py
    *__init__*
    notifications/tasks.py
    # importing following two take longer and timesout
    dataservices/management/commands/import_country_commodity_export_data.py
    dataservices/management/commands/import_uktradeinservice.py
    company/management/commands/update_investment_services_directory.py

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

ignore_errors = True
