Django==1.11.18
dj-database-url==0.4.1
django-environ==0.4.5
django_extensions==1.6.7
django-field-history==0.7.0
djangorestframework==3.4.7
django-storages==1.5.1
django-filter==1.0.4
kombu==4.1.0
django-celery-beat==1.1.1
django-redis==4.7.0
django-pglocks
Pillow==4.2.1
whitenoise==3.2.2
gunicorn==19.5.0
psycopg2==2.7.6.1
raven==5.19.0
boto3==1.7.30
celery[redis]==4.1.0
requests[security]==2.21.0
requests-aws4auth==0.9
elasticsearch==5.3.0
elasticsearch-dsl==5.4.0
waitress==1.1.0
sigauth==4.0.1
directory-validators==4.5.1
directory-constants>=11.0.0,<12.0.0
directory-sso-api-client==3.0.0
directory-healthcheck==1.0.1
cryptography==2.3.0
directory-components==3.5.0
urllib3>=1.23.0<2.0.0
