django==4.1.10
dj-database-url==0.5.0
django-environ==0.4.5
django-extensions==3.2.1
django-field-history==0.8.0
djangorestframework==3.14.*
django-storages==1.13.2
django-flat-json-widget==0.2
django-filter==22.*
django-import-export==3.2.0
kombu<6.0,>=5.2.3
django-celery-beat==2.5.0
django-redis==5.2.*
django-cleanup==5.2.0
whitenoise==6.4.0
psycopg2-binary==2.9.*
sentry-sdk==1.14.0
boto3==1.24.*
celery[redis]>=5.2.2
requests[security]==2.31.0
elasticsearch>=7.0.0,<7.14.0
elasticsearch-dsl>=7.0.0,<8.0.0
waitress==2.1.2
sigauth==5.2.0
django-staff-sso-client==4.2.0
directory-validators==9.3.0
directory-constants==23.1.1
directory-sso-api-client==7.2.3
directory-healthcheck==3.1.2
directory-forms-api-client>=7.2.2
cryptography==39.0.1
directory-components==39.1.0
urllib3>=1.24.2<2.0.0
factory-boy==2.12.0
markdown2==2.4.0
iso3166==1.0.1
django_json_widget==1.0.1
deprecated==1.2.*
pyyaml==6.0
urllib3>=1.26.5
xmltodict==0.12.0
notifications-python-client==6.3.0
xhtml2pdf==0.2.8
pyjwt==2.4.0
pandas==1.4.2
sqlalchemy==1.4.36
django-cte==1.2.0
lxml==4.9.1
oauthlib==3.2.2
pillow==9.3.0
sqlparse==0.4.4
drf-spectacular==0.26.1
