Django==1.11.22
dj-database-url==0.4.1
django-environ==0.4.5
django_extensions==1.6.7
django-field-history==0.7.0
djangorestframework==3.9.1
django-storages==1.7.1
django-filter==1.0.4
kombu==4.1.0
django-celery-beat==1.1.1
django-redis==4.7.0
Pillow==4.2.1
whitenoise==3.2.2
gunicorn==19.5.0
psycopg2-binary==2.7.6.1
raven==5.19.0
boto3==1.7.30
celery[redis]==4.1.0
requests[security]==2.21.0
elasticsearch-dsl==6.4.0
waitress==1.1.0
sigauth==4.0.1
directory-validators==5.1.0
directory-constants==18.3.0
directory-sso-api-client==6.0.1
directory-healthcheck==1.0.1
directory-forms-api-client==5.0.0
cryptography==2.3.0
directory-components==20.3.1
urllib3>=1.24.2<2.0.0
django-admin-ip-restrictor==1.0.0
factory-boy==2.8.1
