{% extends "email.html" %}
{% load company_profile_url from notifications_tags %}
{% load external_url from constants_tags %}

{% block heading %}Find a Buyer{% endblock %}

{% block body %}
<p>Dear {{ full_name|default:'User' }},</p>
<p>You have successfully unsubscribed from marketing emails for the Find a buyer service.</p>
<p>We will only send you emails about the Find a buyer service, for example, if there are changes to the services offered.</p>
<p>If you have a problem with our emails, please <a href="{{ zendesk_url }}">contact us</a>.</p>

{% endblock %}

{% block action %}
{% endblock %}

{% block footer %}
{% endblock %}