{% extends "email.html" %}

{% block heading %}Find a Buyer service{% endblock %}

{% block body %}
<p>You recently created a profile for your company on the Find a Buyer service and requested we send you a verification code.</p>
<p>You can enter the verification at <a href="{{ verification_url }}" target="_blank">{{ verification_url|default:"http://great.gov.uk/verify" }}</a>.</p>
<p>Your profile will not be visible to international buyers until you have verified your company’s profile.</p>
<p>If you have not received your verification code, <a href="{{ zendesk_url }}" target="_blank">let us know</a> as soon as you can so that we can send you a new code. We will also take measures to prevent unlawful use of the original code.</p>
{% endblock %}

{% block action %}
{% endblock %}

{% block footer %}
{% endblock %}
